body {
    background: linear-gradient(to right, rgb(112, 220, 247), rgb(3, 20, 175));
    position: relative;
}

main {
    padding: 1vw;
}

.header {
    background-color: rgba(0, 0, 0, 0.829);
    padding: 2vw;
}

.pageTitle {
    color: white;
}

/* contains input box and button */
.searchSection {
    border-radius: 5px;
    float: left;
    width: 37%;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 1vw;
    margin: 1vw;
}

.input-box {
    border-radius: 5px;
    margin-bottom: 1vw;
    width: 86%;
    position: relative;
}

.search-btn {
    border-radius: 5px;
}

/* makes the searched cities move when hovered over */
.city {
    transition: all .2s ease;
}

/* also makes the cities move when hovered over */
.city:hover {
    cursor: pointer;
    transform: scale(1.01);
}

/* contains recently searched sections */
.citySearch {
    box-sizing: border-box;
    border: 1px solid black;
    float: top left;
    height: 200px;
    border-radius: 5px;
    background-color: white;
}

/* current weather conditions */
.outputContainer {
    width: 57%;
    float: right;
    padding: 1vw;
    margin: 1vw;
}

/* 5 day forecast */
.outputContain {
    width: 70%;
    height: 25%;
    margin-top: 30vw;
    margin-left: auto;
    margin-right: auto;
}

/* also 5 day forecast */
.weatherOutput {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

/* colors for the uv square */
.green {
    height: 1.5vw;
    width: 1.5vw;
    background-color: green;
}

.yellow {
    height: 1.5vw;
    width: 1.5vw;
    background-color: yellow;
}

.orange {
    height: 1.5vw;
    width: 1.5vw;
    background-color: orangered;
}

.red {
    height: 1.5vw;
    width: 1.5vw;
    background-color: red;
}

.purple {
    height: 1.5vw;
    width: 1.5vw;
    background-color: rgb(66, 0, 128);
}

.date {
    font-weight: bold;
}